#container {
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: scroll;
    overflow-y: hidden;
    height: 200px;
    padding-left: 0;
}

#dummy {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 185px;
    margin-bottom: 5px;
}

#container img {
    height: 150px;
    margin-left: .5vw;
}

#category {
    position: sticky;
    top: 0;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.3);
    cursor: pointer;
}